* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flow-history__nav {
    margin-bottom: 50px;
    margin-left: 25.5%;
    display: block;
    list-style: none;
    display: flex;
}

.flow-history__link {
    padding-top: 6px;
    margin-right: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, .20);
    font-size: 13px;
}

.flow-history__link-home {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    border: none; border-radius: 18px;
    background-color:#1DB954;
    padding: 5px;
}

i {
    border: solid rgba(255, 255, 255, .20);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}